.footer{
    
    background-color: $grisOscuro;

    .contenido-footer{
        padding-top: $separacion;
        margin: 0;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}